<!-- <div class="row col-md-8 col-md-offset-2">
 -->  <div class="chat-background">
    <div class="chat-container">
      <div class="chat-header">
  <div>
    <%= link_to chatrooms_path, class: "#{'active' if params[:controller] == 'chatrooms'}" do %>
    <%= image_tag "reply.png", class: "reply-logo" %>
    <% end %>
  </div>
    <h4>
      Chat with <%= @the_other.first_name %>
    </h4>
      </div>
      <div class="chat-body">
        <div id="messages">
          <% @chatroom.messages.each do |message| %>
            <div class="message-container">
            <% if message.user == current_user %>
            <div class="avatar-wrapper-left">
               <%= link_to chatroom_path(@chatroom), class: "inbox-link" do %>
      <%= render partial: "chatroom_card", locals: { chatroom: @chatroom } %>

              <%= cl_image_tag message.user.upload_avatar, crop: :thumb, gravity: :face, class: "message-avatar" %>
              <p>
                <%= message.user.first_name %>
              </p>
              </div>
               <div class="message-text-balloon-left">
                <%= message.content %>
              </div>
              <% end %>
              <% if message.user != current_user %>
                <div class="avatar-wrapper-right">
                  <%= cl_image_tag message.user.upload_avatar, crop: :thumb, gravity: :face, class: "message-avatar" %>
                  <p>
                    <%= message.user.first_name %>
                  </p>
                  </div>
                  <div class="message-text-balloon-right">
                <%= message.content %>
              </div>
               <% end %>
          </div>
      <% end %>
        </div>
      </div>
        <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
    </div>
  </div>
</div>
<% end %>
