        <div class="userpage-neighbourhood">
          <%= @user.neighbourhood.name %>
        </div>
         <div class="userpage-personal-info">
          "<%= @user.personal_info %>"
        </div>
        <div class="userpage-karma-points">
          You have <%= @user.karma_points %> karma points !
        </div>
        <div class="userpage-links">
          <a href="<%= my_posts_path %>">Manage my posts</a>
          <a href="<%= user_path(current_user) %>">Edit my profile</a>
        </div>
