<h1><%= @user.upload_avatar %></h1>
<h1><%= @user.first_name %></h1>
<h1><%= @user.last_name %></h1>
<h1><%= @user.email %></h1>
<h1><%= @user.neighbourhood %></h1>


<%= simple_form_for @user do |f| %>
<%= f.input :first_name, label: 'Your username please', error: 'Username is mandatory, please specify one' %>
<%= f.input :last_name %>
<%= f.input :email, placeholder: 'user@domain.com' %>
<%= f.input :upload_avatar %>
<%= f.input :neighbourhood %>
<%= f.button :submit %>
<% end %>
