<div class="container">
  <div class="userpage">
    <div class="userpage-avatar">
      <%= cl_image_tag @user.upload_avatar, crop: :thumb, gravity: :face, width: 120, height: 120, class: 'avatar-large' %>
    </div>
    <div class="userpage-username">
      <%= @user.first_name %> <%= @user.last_name %>
    </div>
    <% if @user == current_user %>
    <%= render 'mypage' %>
    <% else %>
    <%= render 'userpage'%>
    <% end %>
  </div>
</div>
