<div class="container">
  <div class="userpage">
    <div class="userpage-avatar">
      <%= cl_image_tag @user.upload_avatar, crop: :thumb, gravity: :face, width: 120, height: 120, class: 'avatar-large' %>
    </div>
    <div class="userpage-username">
      <%= @user.first_name %> <%= @user.last_name %>
    </div>
    <div class="userpage-neighbourhood">
      <%= @user.neighbourhood.name %>
    </div>
    <div class="userpage-karma-points">
      You have <%= @user.karma_points %> karma points !
    </div>
    <div class="userpage-links">
      <a href="<%= my_posts_path %>">Manage my posts</a>
      <a href="<%= user_path(current_user) %>">Edit my profile</a>
    </div>

  </div>
</div>









<%#= simple_form_for @user do |f| %>
<%#= f.input :first_name, label: 'Your username please', error: 'Username is mandatory, please specify one' %>
<%#= f.input :last_name %>
<%#= f.input :email, placeholder: 'user@domain.com' %>
<%#= f.input :upload_avatar %>
<%#= f.input :neighbourhood %>
<%#= f.button :submit %>
<%# end %>
