<div class="footer">
  <div>
    <%= link_to "/", class: "#{'active' if params[:controller] == '/'}" do %>
    <%= image_tag "home.png", class: "posts-logo" %>
    <% end %>
  </div>

  <div>
    <%= link_to posts_path, class: "#{'active' if params[:controller] == 'posts'}" do %>
    <%= image_tag "icon.png", class: "posts-logo" %>
    <% end %>
  </div>

  <div>
    <%= link_to chatrooms_path, class: "#{'active' if params[:controller] == 'chatrooms'}" do %>
    <%= image_tag "talk-bubbles.png", class: "conversations-logo" %>
    <% end %>
  </div>

  <div>
    <% if user_signed_in? %>
    <%= link_to user_path(current_user), class: "#{'active' if params[:controller] == 'users'}" do %>
    <%= image_tag "male-user-shadow.png", class: "user-logo" %>
    <% end %>
    <% else %>
    <a href="#"><%= image_tag "male-user-shadow.png", class: "user-logo" %></a>
  </div>
  <% end %>
</div>
