<div class="footer">

  <div>
    <%= link_to posts_path do %>
    <%= image_tag "icon.png", class: "posts-logo" %>
    <% end %>
  </div>

  <div>
    <%= link_to new_my_post_path do %>
    <%= image_tag "plus-sign.png", class: "add-post-logo" %>
    <% end %>
  </div>

  <div>
    <%= link_to chatrooms_path do %>
    <%= image_tag "talk-bubbles.png", class: "conversations-logo" %>
    <% end %>
  </div>

  <div>
    <% if user_signed_in? %>
    <%= link_to user_path(current_user) do %>
    <%= image_tag "male-user-shadow.png", class: "user-logo" %>
    <% end %>
    <% else %>
    <a href="#"><%= image_tag "male-user-shadow.png", class: "user-logo" %></a>
    <% end %>
  </div>

</div>
