<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">


<div class="container">
  <div class="new-post-page">
    <div class="title">
      <h4>Give compliments to <%= @user.first_name %></h4>
    </div>


    <div class="new-post-white-card">
      <%= simple_form_for [@user, @compliment] do |f| %>
            <div class= "show-post-content">
      Write a nice compliment !
      </div>
      <%= f.input :text, as: :text, label: false %>
      <div class= "show-post-content">
      Boost <%= @user.first_name %>'s' karma
      </div>
      <div class="stars">
        <%= f.collection_radio_buttons :points, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_tag: false, boolean_style: :inline, class:"star" do |b| %>
        <%= b.radio_button + b.label {''} %>
        <% end %>
      </div>
      <div class="show-post-form-button">
        <%= f.submit "Send", class: "post-comment-button" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
