<div class="container">
  <div class="button-display">
    <div class="button-display-list"><a href="#">List</a></div> /
    <div class="button-display-map"><a href="#">Map</a></div>
  </div>

  <!-- <div class="row"> -->
      <!-- <div> -->
  <div class="search-bar">
    <div>
      <%= form_tag posts_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control form-control-sm search-layout",
        placeholder: "Search a post"
        %>
        <% end %>
    </div>
  </div>
    <!-- </div> -->
  <!-- </div> -->

    <% @posts.each do |post| %>

  <div class="post-card">
    <div class="post-card-top">
      <div class="post-avatar">
        <%= cl_image_tag post.user.upload_avatar, crop: :thumb, gravity: :face, width: 40, height: 40, class: 'avatar-square' %>
      </div>
      <div class="post-header">
        <div class="post-title">
          <%= post.title %>
        </div>
        <div class="post-small">
          by <%= post.user.first_name %>
          <% elapsed_time = Time.now - post.created_at %>
          - posted
            <% if Time.at(elapsed_time).utc.strftime("%e").to_i > 1 %>
            <%= Time.at(elapsed_time).utc.strftime("%e days") %>
            <% elsif Time.at(elapsed_time).utc.strftime("%k").to_i > 0 %>
            <%= Time.at(elapsed_time).utc.strftime("%k h") %> ago
            <% else %>
            <%= Time.at(elapsed_time).utc.strftime("%M mn") %> ago
          <!-- <%#= Time.at(elapsed_time).utc.strftime("%k h %Mmn") %> ago -->
          <% end %>
        </div>
      </div>
    </div>
    <div class="post-card-content">
      <div class="post-content">
      <%= post.description %>
      </div>
      <div class="post-small">
       - <%= post.category %> -
      </div>
    </div>
  </div>
  <% end %>
</div>
