  <div class="container">
    <div class="post-card">




      <div class="post-card-top">
        <div class="post-avatar">
          <%= cl_image_tag @post.user.upload_avatar, crop: :thumb, gravity: :face, width: 40, height: 40, class: 'avatar-square' %>
        </div>
        <div class="post-header">
          <div class="post-title">
            <%= @post.title %>
          </div>
          <div class="post-small">
            by <%= @post.user.first_name %> <%= @post.user.last_name %>
          </div>
        </div>
      </div>

      <div class="post-card-content">
        <div class="post-content">
          <%= @post.description %>
        </div>
        <div class="post-small">
          <% elapsed_time = Time.now - @post.created_at %>
          posted
          <% if Time.at(elapsed_time).utc.strftime("%e").to_i > 1 %>
          <%= Time.at(elapsed_time).utc.strftime("%e days") %>
          <% elsif Time.at(elapsed_time).utc.strftime("%k").to_i > 0 %>
          <%= Time.at(elapsed_time).utc.strftime("%k h") %> ago
          <% else %>
          <%= Time.at(elapsed_time).utc.strftime("%M mn") %> ago
          <% end %>
          - <%= @post.category %> -
        </div>

        <div class="static-map"><%= image_tag "https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/#{@post.longitude},#{@post.latitude},15.62,0,0/300x100?access_token=pk.eyJ1IjoibG9sYWZhZ2FkZSIsImEiOiJjanc3bmNxNWYwYm1xNGNvNzJhNnFxbHZ1In0.bfpgszPNPtaHpEFOWhYEfg&logo=false" %>
        </div>
        <div>
         Space for the comment form
       </div>

     </div>





   </div>
 </div>
