  <div class="container">
    <div class="post-card">




      <div class="post-card-top">
        <div class="post-avatar">
          <%= cl_image_tag @post.user.upload_avatar, crop: :thumb, gravity: :face, width: 40, height: 40, class: 'avatar-square' %>
        </div>
        <div class="post-header">
          <div class="post-title">
            <%= @post.title %>
          </div>
          <div class="post-small">
            by <%= @post.user.first_name %> <%= @post.user.last_name %>
          </div>
        </div>
      </div>

      <div class="post-card-content">
        <div class="post-content">
          <%= @post.description %>
        </div>
        <div class="post-small">
          <% elapsed_time = Time.now - @post.created_at %>
          posted
          <% if Time.at(elapsed_time).utc.strftime("%e").to_i > 1 %>
          <%= Time.at(elapsed_time).utc.strftime("%e days") %>
          <% elsif Time.at(elapsed_time).utc.strftime("%k").to_i > 0 %>
          <%= Time.at(elapsed_time).utc.strftime("%k h") %> ago
          <% else %>
          <%= Time.at(elapsed_time).utc.strftime("%M mn") %> ago
          <% end %>
          - <%= @post.category %> -
        </div>


        <!-- ------trying map--------- -->
        <div
        id="map" class="info-window post-map"
        style="width: 100%; height: 100px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>

        <!-- ----------end of try -->

        <strong><p>Comments</p></strong>
        <div id="comments">
          <% @comments.each do |comment| %>
          <p><%= comment.body %></p>
          <% end %>
        </div>
        <div class="new_comment">
          <%= render partial: 'comments/form', locals: { post: @post, comment: @comment } %>
        </div>
        <%#= link_to %>
        <div class= "btn-karma">Start a private conversation</div>
        <%# end %>
      </div>
      <div>
        <%= simple_form_for @chatroom, url: chatrooms_path do |f| %>
        <%= f.input :receiver_id, input_html: { value: @post.user.id }, as: :hidden  %>
        <%= f.input :topic, input_html: { value: @post.title }, as: :hidden %>
        <%= f.submit "Start a private conversation", class: "btn-karma" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
